
@import url(/assets/css/template.css);
.counterAbout{
  display: flex;
  align-items: center;
}

/* .counterAbout .icon img{
  width: 100px;
} */

.counterText{
  margin-left: 20px;
}

.counterText h5{
  color: var(--color-primary);
  font-size: 36px;
line-height: 1px;
  margin-top: 10px;
}

.counterText p{
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 2rem;
}

.single-service-h2{
  padding: 50px;
  background: linear-gradient(180deg, #8736c4 0%, #4f008c 100%);
  border: none !important;   
  /* filter: drop-shadow(0px 8px 53px rgba(13, 9, 54, 0.05));
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 8px;
  transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1), 
              box-shadow 0.3s ease-in-out;
}

.single-service-h2:hover{
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.single-service-h2:active{
  transform: translateY(-5px) scale(1.02);
}

.single-service-h2 .inner-content p.disc{
  color: #fff;
}

.vision-mission .single-service-h2 .details li{
  color: #fff;
}

.vision-mission .single-service-h2 .details li i{
  color: #ff375e;
}

.ourPurpose .faq-right-wrapper-two .title-left-h2-wrapper .title span{
  font-size: 2.5rem !important;
  text-decoration: none;
}

.vision-mission .single-service-h2 .details li{
  color: #fff;
}

.vision-mission .single-service-h2 .details li i{
  color: #ff375e;
}

.ourPurpose .faq-right-wrapper-two .title-left-h2-wrapper .title span{
  font-size: 2rem;
}


/*************************our values******************/

.ourValues{
  background: var(--color-body);
  position: relative;
  z-index: 1;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  background: #222222;
  transition: 0.5s;
}

.box:hover {
  height: 480px;
}

.box .imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
}

.box .imgBx img {
  max-width: 100%;
  transition: 0.5s;
  width: 80px;
  margin-top: 50px;
}

.box:hover .imgBx img {
  opacity: 1;
}

.box:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: #fff;
  z-index: -1;
}

.box:after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  z-index: -2;
  filter: blur(40px);
}

.box:before,
.box:after {
  background: linear-gradient(235deg, #4f008c, #1e1e1e, #ff375e);
}

.box:nth-child(2):before,
.box:nth-child(2):after {
  /* not supported 😣 */
  background: linear-gradient(235deg, #4f008c, #1e1e1e, #ff375e);
}

.box:nth-child(3):before,
.box:nth-child(3):after {
  /* not supported 😣 */
  background: linear-gradient(235deg, #4f008c, #1e1e1e, #ff375e);
}

.box .content {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: auto;
  background: rgba(0, 0, 0, 0.04);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
  color: #fff;
}

.box .content p{
  color: #fff;
}

.box:hover .content {
  opacity: 1;
}

.box .content h2 {
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  /* just one style 😐 */
  line-height: 20px;
  letter-spacing: 1px;
}

.box .content h2 span {
  font-size: 14px;
  color: #fff;
  font-weight: 200;
  /* just one style 😐 */
  letter-spacing: 2px;
}

.flexcounter{
  display: flex;
}

.flexcounter span{
  color: #4f008c;
  font-size: 36px;
  font-weight: 600;
}

.rts-video-area-about{
  background-image: url(../images/about-stc/about-parallax.webp);
  height: 500px;
  background-attachment: fixed;
}

/***********values***************/


.card-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 0px 50px;
}

.card-container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  max-width: 100%;
  height: 380px;
  background: #FFF;
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.card-container .card:hover {
  height: 400px;
}

.card-container .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 300px;
  background: linear-gradient(264.71deg, #8736c4 2.11%, #4f008c 58.87%) !important;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}

.card-container .card .img-box img {
  position: absolute;
  padding: 4rem;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.card-container .card .content {
  position: absolute;
  top: 335px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.card-container .card:hover .content {
  top: 180px;
  height: 250px;
}

.card-container .card .content h5 {
  color: var(--color-primary);
}

.card-container .card .content p {
  color: #333;
}

.card-container .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: #FFF;
  font-weight: 500;
}

.card-container .card .content a:hover {
  opacity: 0.8;
}

@media (max-width: 480px) {
  .card-container .card {
      width: 230px;
      border-radius: 15px;
  }

  .card-container .card .img-box {
      width: 185px;
      border-radius: 10px;
  }

  .card-container .card .content p {
      font-size: 0.8rem;
  }

  .card-container .card .content a {
      font-size: 0.9rem;
  }
}

.values .title-area-left-three-large .title{
  color: var(--color-primary);
  margin-top: 0;
}