.banner-bg-1{
    background-image: url(../images/banner/KeyActivitiesBanner.webp);
    background-position: center;
    background-repeat: repeat;
    height: 900px;
    background-color: #0E0E0E;
}

.businessModel .single-approach-area-start{
    width: 100%;
    height: 250px;
    background: var(--color-primary);
}

.businessModel .single-approach-area-start .title{
    color: var(--color-secondary);
}

.businessModel .single-approach-area-start ul li{
    color: #fff;
}


.businessModel .single-approach-area-start::after{
    display: none;
}

.businessModel .single-approach-area-start:hover ul li{
    color: #fff;
}

.businessModel .approch-area-left p.disc{
    color: var(--color-text);
}


.strategicFramework .rts-cta-4-area .cta-main-wrapper .title{
    text-align: left;
}

.strategicFramework .rts-cta-4-area .cta-main-wrapper p{
    color: #fff;
}

.strategicFramework .rts-cta-4-area{
    background-image: url(../images/strategicReview/ReachCover.webp);
    height: 500px;
}



/**************Reach *****************/

.reach .details ul li{
    color: #fff;
    font-weight: 500;
}
.reach .details ul li i{
    color: var(--color-secondary);
}

.bg-dark-1 .title{
    color: var(--color-secondary);
}

.scroller-wrapper .scroller .slide{
    width: 90%;
}

.bg-dark-1 .sub-title {
    border: 2px solid #ff375e;
    padding: 30px 30px;
    font-size: 50px;
    border-radius: 20px;
}


/************************************/
.ValuedStakeholders .title-faq-4 .title{
    color: var(--color-secondary);
}


.ValuedStakeholders .four-accordion-area-faq .accordion-item .accordion-header button{
    color: #fff;
}

.ValuedStakeholders .four-accordion-area-faq .accordion-item .accordion-header button img{
    margin-right: 15px;
}

.ValuedStakeholders .accordion-body p{
    color: #fff;
}

.ValuedStakeholders .four-accordion-area-faq .accordion-item .accordion-header button::before{
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.ValuedStakeholders .four-accordion-area-faq .accordion-item::after{
    background: #d9d9d915
}
.ValuedStakeholders .four-accordion-area-faq,
.ValuedStakeholders .four-accordion-area-faq .accordion-item{
    border: 1px solid #d9d9d915;

}


.main-objective-bold{
    font-weight: 500;
    color: var(--color-primary);
}


/*****************Market Review**************************/
/* 
#barChart{
    height: 500px !important;
    width: 500px;
} */
/* 
canvas {
    max-width: 600px;
    margin: auto;
} */


.reachCard{
    height: 550px;
    background-color: #4f008cb4;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}


.single-approach-area-start.one::before{
    background-image: url(../images/strategicReview/BM01.webp);
}
.single-approach-area-start.two::before{
    background-image: url(../images/strategicReview/BM02.webp);
}
.single-approach-area-start.three::before{
    background-image: url(../images/strategicReview/BM03.webp);
}
.single-approach-area-start.four::before{
    background-image: url(../images/strategicReview/BM04.webp);
}